<!DOCTYPE html>
<html lang="en">

    <%- include('./header.ejs')%>
<body>
    <div class="container">
        <h1 class="text-center p-3">About our Pizza Store</h1>
        <hr>
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="../pizza.png" alt="" width="300">
            </div>
            <div class="col-md-6 my-auto">
                <h1>Pizza Store</h1>
                <p>Pizza Store is an restaurant chain and international franchise which was founded in 2020,by Abhishek. The company is known for its Italian American cuisine menu, including pizza and pasta.The corporation is headquartered at the Pizza's Farms Office Park in Hyderabad, India, and incorporated in Stefanos</p>
            </div>
        </div>
        
    </div>
    <%- include('./footer.ejs')%>
</body>
</html>